/*colores*/
:root {
    --h2-aside: rgb(39, 82, 90);
    --background-aside: rgba(218, 218, 218, 0.74);
}

/* MENÚ DE NAVEGACIÓN */
/* #main-navbar {
    background-color: #343a40; /* Color de fondo del menú de navegación 
} */

#main-navbar .navbar-brand img {
    max-width: 20%; /* Ancho del logotipo ajustado al 75% */
}

#main-navbar .container-nav {
    width: 100%;
}

/* #main-navbar .navbar {
    margin-bottom: 10;
} */

#main-navbar .navbar-collapse {
    justify-content: flex-end;
}

#main-navbar .navbar-nav {
    align-items: center;
}

#main-navbar .collapse.navbar-collapse {
    height: 100%;
    /*margin-left: 30px;*/
}

/* #main-navbar .navbar-toggler {
    margin-left: 100px;
} */

#main-navbar .navbar-nav .nav-item {
    font-size: 20px;
    color: white;
    text-shadow: white;
    margin-right: 20px;
}

/* SECCION MAIN */

#main-content {
    color: white;
    text-shadow: 5px 5px 5px #000;
    margin-top: 0;
    padding: 0;
}

#main-content #titulo-principal {
    font-size: 12vw;
    margin: 0;
    padding-top: 20px;
}

#main-content .col-md-3 {
    text-align: center;
}

#main-content .col-md-3 > h2 {
    margin-top: 30px;
    font-size: 45px;
}

#main-content .col-md-3 .material-symbols-outlined {
    margin-top: 50px;
    font-size: 70px;
    position: relative;
    top: 10px;
    text-align: center;
}

.bg-image {
    background-image: url('img/reunion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#main-content .container-fluid {
    padding: 0;
}

#main-content .container-fluid.bg-image {
    padding: 0;
}

#main-content .col-md-3 p {
    margin-top: 10px;
    font-size: 16px;
}



/*SECCION SECUNDARIA*/
#related-content {
    background-color: var(--background-aside);
}

#related-content > h2 {
    color: var(--h2-aside);
    text-shadow: 1px 1px 2px rgba(151, 151, 151, 0.986);
    text-align: left;
    font-size: 50px;
    padding-top: 30px;
}

#related-content div.col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#related-content img[alt="Nosotros"] {
    align-items: center;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

#related-content .about-us-section  p {
    color: rgba(43, 43, 43, 0.5);
    font-size: 25px;
    line-height: 45px;
    text-align: left; /* Alinea el texto a la izquierda */
    vertical-align: top; /* Alinea el texto hacia arriba */
    padding: 0; /* Añade espacio en la parte superior para mover el párrafo hacia arriba */
}


/* SECCION SECUNDARIA 2*/

aside.container-fluid {
    background-color:var(--background-aside);
    
}

.article img {
    align-items: center;
    max-width: 100%;
    height: auto;
    
    margin: 10px;
    
}


.article {
    overflow: hidden;
}


.article:hover img {
    transform: scale(1.1);
}

.article-title {
    
    color:var(--h2-aside);
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(151, 151, 151, 0.986);
}

.article-paragraph {
    color: gray;
    text-align: center;
}
/* SECCION SECUNDARIA 3 */

  /* Estilos generales para el formulario y el mapa */
  .article {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
  }

  /* Estilos para los títulos de los artículos */
  .article-title {
    font-size: 24px;
    color:var(--h2-aside);
    margin-bottom: 10px;
  }

  /* Estilos para los campos de formulario */
  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    font-weight: bold;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* Estilos para el botón del formulario */
  .btn-primary {
    background-color:var(--h2-aside);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }

  /* Estilos para el mapa (iframe) */
  iframe {
    width: 100%;
    height: 495px;
    border: 0;
  }


  /* BOTON DE SCROLL */
  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 24px;
    border: none;
    outline: none;
    background-color:var(--h2-aside);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10%;
    opacity: 0.7;
  }
  
  #scrollToTopBtn:hover {
    background-color: var(--h2-aside) ;
  }
  
  /* Estilos para el contenedor del popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  


  /* Estilos para el contenido del popup */
   .popup-content {
    position:absolute; 
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--background-aside);
    padding: 20px; 
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000000;
    text-align: center;
    width: auto;
    height: auto;
  } 
  
  /* Estilos para el botón de cierre del popup */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Estilos para el formulario dentro del popup */
  form {
    text-align: center;
    
  }
  
  /* Estilos para el botón dentro del formulario */
  button {
    background-color:var(--h2-aside);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para el enlace de inicio de sesión */
  #loginLink {
    cursor: pointer;
    
  }
  
  /* Estilos para el enlace de inicio de sesión al pasar el mouse */
  #loginLink:hover {
    text-decoration:underline;
  }
  

/*FOOTER*/

#page-footer {
    background-color: #343a40;
    color: #fff;
    bottom: 0;
    width: 100%;
}

#page-footer p.footer-text {
    font-size: 14px;
    margin: 10px 0;
}


/*MEDIA QUERIES*/

@media (max-width: 768px) {
    .navbar-brand img {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    #main-content #titulo-principal {
        font-size: 70px;
    }
}

@media (max-width: 768px) {
    #main-content .col-md-3 p {
        margin-top: 10px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    #related-content h2 {
        font-size: 30px;
    }

    #related-content div.col-md-6 > p {
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width: 768px) {
    #page-footer p.footer-text {
        font-size: 12px;
    }
}

@media(max-width: 768px) {
    .popup-content {
        width: auto;
        height: auto;
    }
}